Repository chaos-genius/chaos_genius, pull requests merged in 2022-04, with the labels that each got.

#873 added download support for deepdrills historical data
  frontend/src/components/DashboardGraph/index.jsx
  frontend/src/redux/actions/Anomaly.js
  frontend/src/redux/actions/Dashboard.js
  frontend/src/redux/reducers/Dashboard.js
  frontend/src/redux/reducers/Hierarchical.js
  frontend/src/redux/reducers/Sidebarlist.js
Labels: 🖥️ frontend

#877 Sb historical data
  frontend/src/components/DashboardGraph/index.jsx
  frontend/src/redux/actions/Dashboard.js
Labels: 🖥️ frontend

#844 Alert Delete Popup Name Bug
  frontend/src/components/AlertTable/index.jsx
Labels: 🖥️ frontend

#855 .env Refactor
  .env
Labels: 📚 documentation, 🛠️ backend

#847 KPI Alert Range bar value issues fixed
  frontend/src/components/KpiAlertConfigurationForm/index.jsx
Labels: 🖥️ frontend

#878 added popup for data sync after adding datasource
  frontend/src/components/DataSourceForm/index.jsx
  frontend/src/components/Modal/index.js
  frontend/src/components/Modal/modal.scss
Labels: 🖥️ frontend

#872 Tz aware fe
  frontend/src/components/DataSourceForm/index.jsx
  frontend/src/redux/actions/ActionConstants.js
  frontend/src/redux/actions/DataSources.js
  frontend/src/redux/actions/index.js
  frontend/src/redux/reducers/DataSource.js
  frontend/src/utils/url-helper.js
Labels: 🖥️ frontend

#883 edit kpi field changes for dropdown population
  frontend/src/components/Analystics/analystics.scss
  frontend/src/components/Analystics/index.js
  frontend/src/components/KpiExplorerForm/index.jsx
  frontend/src/components/KpiExplorerForm/kpiexplorerform.scss
  frontend/src/redux/actions/KpiEplorer.js
Labels: 🖥️ frontend

#891 frontend: Show popup after adding the new data source
  frontend/src/components/DataSourceForm/index.jsx
  frontend/src/components/Modal/index.js
  frontend/src/components/Modal/modal.scss
Labels: 🖥️ frontend

#890 Edit kpi and anomaly
  chaos_genius/controllers/kpi_controller.py
  chaos_genius/databases/models/kpi_model.py
  chaos_genius/views/anomaly_data_view.py
  chaos_genius/views/kpi_view.py
  frontend/src/components/Analystics/analystics.scss
  frontend/src/components/Analystics/index.js
  frontend/src/components/KpiExplorerForm/index.jsx
  frontend/src/components/KpiExplorerForm/kpiexplorerform.scss
  frontend/src/redux/actions/KpiEplorer.js
Labels: 🛠️ backend

#889 Modify values to human readable formats
  chaos_genius/alerts/anomaly_alerts.py
  chaos_genius/alerts/email_templates/digest_template.html
  chaos_genius/alerts/email_templates/email_alert.html
  chaos_genius/alerts/utils.py
  tests/test_alert_utils.py
Labels: ❗alerts

#884 fix(alerts): use inline styles in email templates
  chaos_genius/alerts/email_templates/README.md
  chaos_genius/alerts/email_templates/digest_template.html
  chaos_genius/alerts/email_templates/email_alert.html
Labels: 🐛 bug, ❗alerts

#854 fix(docker): fixes #853 added restart policy
  docker-compose.fluentd.yml
  docker-compose.latest-thirdparty.yml
  docker-compose.latest.yml
  docker-compose.thirdparty.yml
  docker-compose.yml
Labels: 🏗️ infrastructure

#896 Add human readable format for values in slack messages
  chaos_genius/alerts/slack.py
Labels: ❗alerts

#898 added checks for dropdown populationin edit kpi
  frontend/src/components/KpiExplorerForm/index.jsx
Labels: 🖥️ frontend

#902 added state checks for analytics
  frontend/src/components/Analystics/index.js
Labels: 🖥️ frontend

#903 added different checks for edit and add analytics
  frontend/src/components/Analystics/index.js
Labels: 🖥️ frontend

#904 added mechanism tocheck change intimezone dropdown and enable update …
  frontend/src/components/DataSourceForm/index.jsx
Labels: 🖥️ frontend

#871 chore(ci): add step to check if migrations have diverged
  .github/workflows/python-test.yml
  scripts/check_diverged_migrations.sh
Labels: 🏗️ infrastructure

#916 cleared need for cleanup popup on modal close
  frontend/src/components/KpiExplorerForm/index.jsx
Labels: 🖥️ frontend

#911 0.6.0 version upgrade and avoid misleading timezone deprecation warning
  chaos_genius/core/utils/constants.py
  chaos_genius/settings.py
  docker-compose.thirdparty.yml
  docker-compose.yml
Labels: 🏗️ infrastructure

#927 resolved popup issue while setting up analytics
  frontend/src/components/Analystics/index.js
Labels: 🖥️ frontend

#843 Setup Gitpod
  .gitignore
  .gitpod.dockerfile
  .gitpod.env
  .gitpod.yml
Labels: 🏗️ infrastructure

#933 docs: add GITPOD.md. overhaul contributing dev workflow.
  CONTRIBUTING.md
  GITPOD.md
Labels: 📚 documentation

#939 fix(editkpi): issue of subdim anomaly failure after removal of all subdims
  chaos_genius/views/kpi_view.py
Labels: 🛠️ backend

#791 Configurable cors
  .env
  chaos_genius/app.py
  chaos_genius/settings.py
  docker-compose.dev-thirdparty.yml
  docker-compose.dev.yml
  docker-compose.fluentd.yml
  docker-compose.latest-thirdparty.yml
  docker-compose.latest.yml
  docker-compose.thirdparty.yml
  docker-compose.yml
Labels: ✨ enhancement, 🛠️ backend
