Repository chaos-genius/chaos_genius, pull requests merged in 2022-02, with the labels that each got.

#751 removed loader from add kpi and changed nooptions text baased on load…
  frontend/src/components/KpiExplorerForm/index.jsx
Labels: 🖥️ frontend

#747 added check for non-numerical perc changes
  frontend/src/components/Kpihome/index.jsx
  frontend/src/components/Kpihome/kpihome.scss
Labels: 🖥️ frontend

#752 added changes in formatting of labels for values below 1000
  frontend/src/utils/Formatting/Numbers/humanReadableNumberFormatter.js
Labels: 🖥️ frontend

#756 added url for troubleshooting
  frontend/src/components/EmptyKPI/index.jsx
Labels: 🖥️ frontend

#755 Dependabot severity fixes
  frontend/package-lock.json
Labels: 🖥️ frontend, dependencies

#762 feat: set default value for CHAOSGENIUS_WEBAPP_URL
  .env
Labels: ❗alerts

#764 chore: readability improvement for PR instructions
  CONTRIBUTING.md
Labels: 📚 documentation

#734 fix: fixes #730 by removing extra t-1 from fill missing data function
  chaos_genius/core/anomaly/utils.py
Labels: don't merge

#765 0.4.1 Hotfix Release
  .env
  chaos_genius/settings.py
  docker-compose.thirdparty.yml
  docker-compose.yml
  frontend/package-lock.json
  frontend/src/components/EmptyKPI/index.jsx
  frontend/src/components/KpiExplorerForm/index.jsx
  frontend/src/components/Kpihome/index.jsx
  frontend/src/components/Kpihome/kpihome.scss
  frontend/src/utils/Formatting/Numbers/humanReadableNumberFormatter.js
Labels: 🖥️ frontend, ❗alerts

#760 Alerts format
  chaos_genius/alerts/alert_channel_creds.py
  chaos_genius/alerts/alert_config.py
  chaos_genius/alerts/anomaly_alert_config.py
  chaos_genius/alerts/base_alert_digests.py
  chaos_genius/alerts/base_alerts.py
  chaos_genius/alerts/email.py
  chaos_genius/alerts/slack.py
  chaos_genius/alerts/utils.py
Labels: ❗alerts

#759 fix: frontend/Dockerfile.prod to reduce vulnerabilities
  frontend/Dockerfile.prod
Labels: dependencies

#683 feat(dev): add script to run auto-reloading celery workers
  dev_workers.sh
  requirements/dev.txt
  scripts/celery/dev_scheduler.sh
  scripts/celery/dev_worker-alerts.sh
  scripts/celery/dev_worker-analytics.sh
Labels: 🛠️ backend
