Repository chaos-genius/chaos_genius, pull requests merged in 2022-03, with the labels that each got.

#784 feat(anomaly-params): allow hourly scheduler_frequency
  chaos_genius/views/anomaly_data_view.py
Labels: 🛠️ backend, don't merge

#782 Alert code refactor
  chaos_genius/alerts/__init__.py
  chaos_genius/alerts/anomaly_alert_config.py
  chaos_genius/alerts/anomaly_alerts.py
  chaos_genius/alerts/base_alert_digests.py
  chaos_genius/alerts/constants.py
  chaos_genius/alerts/event_alerts.py
  chaos_genius/alerts/static_kpi_alerts.py
  chaos_genius/alerts/utils.py
  chaos_genius/commands.py
  chaos_genius/controllers/digest_controller.py
  chaos_genius/jobs/alert_tasks.py
  chaos_genius/jobs/anomaly_tasks.py
Labels: 🛠️ backend, don't merge, ❗alerts

#787 feat(anomaly): add hourly support
  .env
  chaos_genius/controllers/kpi_controller.py
  chaos_genius/core/anomaly/controller.py
  chaos_genius/databases/models/anomaly_data_model.py
  chaos_genius/settings.py
  docker-compose.dev.yml
  docker-compose.fluentd.yml
  docker-compose.latest-thirdparty.yml
  docker-compose.latest.yml
  docker-compose.thirdparty.yml
  docker-compose.yml
  migrations/versions/5c754059d673_created_at_for_anomaly_data_output.py
Labels: ✨ enhancement, 🛠️ backend, 🧮 algorithms

#785 Scheduler hourly anomaly
  chaos_genius/celery_config.py
  chaos_genius/jobs/__init__.py
  chaos_genius/jobs/analytics_scheduler.py
  chaos_genius/jobs/anomaly_tasks.py
  tests/test_analytics_scheduler.py
  tests/test_anomaly_tasks.py
Labels: 🛠️ backend

#795 feat(anomaly): added retraining endpoint
  chaos_genius/controllers/kpi_controller.py
  chaos_genius/views/anomaly_data_view.py
Labels: 🛠️ backend

#798 chore: add Anomaly Tests
  tests/test_anomaly_controller.py
  tests/test_anomaly_multiple_entries.py
  tests/test_anomaly_processor.py
  tests/test_anomaly_utils.py
  tests/test_data/input_hourly_data.csv
  tests/test_severity.py
Labels: :construction: tests

#804 fix: datetime api changes
  chaos_genius/core/rca/rca_utils/api_utils.py
  chaos_genius/utils/datetime_helper.py
  chaos_genius/views/anomaly_data_view.py
Labels: 🛠️ backend

#797 Change datetime and change percent format in alerts
  chaos_genius/alerts/anomaly_alerts.py
  chaos_genius/alerts/constants.py
  chaos_genius/alerts/email_templates/digest_template.html
  chaos_genius/alerts/email_templates/email_alert.html
  chaos_genius/alerts/utils.py
Labels: 🛠️ backend, ❗alerts

#802 Scheduler tests and hourly time format changes
  chaos_genius/jobs/analytics_scheduler.py
  tests/test_analytics_scheduler.py
Labels: 🛠️ backend, :construction: tests

#806 datetime api changes
  chaos_genius/utils/datetime_helper.py
  chaos_genius/views/anomaly_data_view.py
Labels: 🛠️ backend

#800 Hourly fe changes
  frontend/src/components/Analystics/index.js
Labels: 🖥️ frontend

#807 Anomaly retraining fe
  frontend/src/assets/images/refresh.svg
  frontend/src/components/Anomaly/anomaly.scss
  frontend/src/components/Anomaly/index.jsx
  frontend/src/components/AnomalyEmptyState/index.jsx
  frontend/src/components/DashboardGraph/dashboardgraph.scss
  frontend/src/components/DashboardGraph/index.jsx
  frontend/src/components/FilterWithTab/index.jsx
  frontend/src/redux/actions/ActionConstants.js
  frontend/src/redux/actions/Anomaly.js
  frontend/src/redux/actions/index.js
  frontend/src/redux/reducers/Anomaly.js
Labels: 🖥️ frontend

#810 Anomaly, scheduler and alerts changes for hourly
  .env
  chaos_genius/alerts/anomaly_alerts.py
  chaos_genius/celery_config.py
  chaos_genius/controllers/kpi_controller.py
  chaos_genius/core/anomaly/controller.py
  chaos_genius/core/rca/rca_utils/api_utils.py
  chaos_genius/databases/models/anomaly_data_model.py
  chaos_genius/jobs/__init__.py
  chaos_genius/jobs/analytics_scheduler.py
  chaos_genius/jobs/anomaly_tasks.py
  chaos_genius/settings.py
  chaos_genius/utils/datetime_helper.py
  chaos_genius/views/anomaly_data_view.py
  docker-compose.dev.yml
  docker-compose.fluentd.yml
  docker-compose.latest-thirdparty.yml
  docker-compose.latest.yml
  docker-compose.thirdparty.yml
  docker-compose.yml
  frontend/src/assets/images/refresh.svg
  frontend/src/components/Analystics/index.js
  frontend/src/components/Anomaly/anomaly.scss
  frontend/src/components/Anomaly/index.jsx
  frontend/src/components/AnomalyEmptyState/index.jsx
  frontend/src/components/DashboardGraph/dashboardgraph.scss
  frontend/src/components/DashboardGraph/index.jsx
  frontend/src/components/FilterWithTab/index.jsx
  frontend/src/redux/actions/ActionConstants.js
  frontend/src/redux/actions/Anomaly.js
  frontend/src/redux/actions/index.js
  frontend/src/redux/reducers/Anomaly.js
  migrations/versions/591a00900af9_.py
  migrations/versions/5c754059d673_created_at_for_anomaly_data_output.py
  tests/test_analytics_scheduler.py
  tests/test_anomaly_tasks.py
Labels: 🖥️ frontend, 🛠️ backend

#811 changes for add kpi aggregation options for druid
  frontend/src/components/KpiExplorerForm/index.jsx
  frontend/src/redux/actions/ActionConstants.js
  frontend/src/redux/actions/KpiEplorer.js
  frontend/src/redux/reducers/KpiExplorer.js
Labels: 🖥️ frontend

#812 fix(kpi-validation): skip tz-naive check only for druid and update tests
  chaos_genius/core/utils/kpi_validation.py
  chaos_genius/views/kpi_view.py
  tests/features/kpi_validation.feature
  tests/test_kpi_validation.py
Labels: 🛠️ backend, don't merge, :construction: tests

#781 event alert toaster issues fixed
  frontend/src/components/EventAlertDestinationForm/index.jsx
  frontend/src/containers/Alerts/index.jsx
  frontend/src/redux/reducers/KpiExplorer.js
Labels: 🖥️ frontend

#816 added hourly alert configuration
  frontend/src/components/EventAlertForm/index.jsx
  frontend/src/components/KpiAlertConfigurationForm/index.jsx
Labels: 🖥️ frontend

#814 Datasource aware aggregation for KPI defn form, multidim_status updates, Druid table fetch error
  chaos_genius/connectors/base_db.py
  chaos_genius/controllers/config_controller.py
  chaos_genius/databases/models/kpi_model.py
  chaos_genius/utils/metadata_api_config.py
  chaos_genius/views/config_setting_view.py
  chaos_genius/views/data_source_view.py
  frontend/src/components/KpiExplorerForm/index.jsx
  frontend/src/redux/actions/ActionConstants.js
  frontend/src/redux/actions/KpiEplorer.js
  frontend/src/redux/reducers/KpiExplorer.js
Labels: ✨ enhancement, 🛠️ backend

#815 bump version to 0.5.0 for testing
  chaos_genius/settings.py
Labels: 🛠️ backend

#817 fix(migrations): merge diverged branches
  migrations/versions/4c40273b1dea_.py
Labels: 🛠️ backend

#823 fixed bug which didn't accept test query payload
  frontend/src/components/EventAlertForm/index.jsx
Labels: 🖥️ frontend

#820 feat(alerts): enable the hourly event alert
  .env
  chaos_genius/alerts/constants.py
  chaos_genius/celery_config.py
  chaos_genius/controllers/digest_controller.py
  chaos_genius/templates/digest.html
Labels: 🛠️ backend, ❗alerts

#824 disabled consolidated alerts reports in event alerts
  frontend/src/components/EventAlertDestinationForm/index.jsx
Labels: 🖥️ frontend

#827 0.5.0 docker compose update
  docker-compose.thirdparty.yml
  docker-compose.yml
Labels: 🏗️ infrastructure

#833 changed yAxis property for linechart in DD
  frontend/src/components/DashboardGraph/index.jsx
Labels: 🖥️ frontend

#837 fixed onboarding flow and added Slack link
  chaos_genius/views/config_setting_view.py
  frontend/src/assets/images/sidebar/slack-icon.svg
  frontend/src/assets/images/slack-small-logo.svg
  frontend/src/components/EmptyKPI/index.jsx
  frontend/src/components/FilterAnalystics/index.js
  frontend/src/components/KpiFaq/index.jsx
  frontend/src/components/Modal/index.js
  frontend/src/components/Sidebar/index.jsx
  frontend/src/containers/KpiSetting/index.jsx
  frontend/src/containers/Onboarding/index.js
  frontend/src/containers/Onboarding/onboarding.scss
Labels: 🖥️ frontend

#845 fix: API respone for anomaly when anomaly settings have been not configured
  chaos_genius/views/anomaly_data_view.py
Labels: 🛠️ backend

#857 fixed node-forge security vulnerabilites
  frontend/package-lock.json
Labels: 🖥️ frontend

#852 Download Csv File
  frontend/src/assets/images/Download.svg
  frontend/src/components/Anomaly/anomaly.scss
  frontend/src/components/Anomaly/index.jsx
  frontend/src/components/DashboardGraph/dashboardgraph.scss
  frontend/src/components/DashboardGraph/index.jsx
  frontend/src/redux/actions/ActionConstants.js
  frontend/src/redux/actions/Anomaly.js
  frontend/src/redux/actions/Dashboard.js
  frontend/src/redux/reducers/Anomaly.js
  frontend/src/redux/reducers/Dashboard.js
  frontend/src/utils/download-helper.js
Labels: 🖥️ frontend

#859 Anomaly and Panel Chart data download.
  chaos_genius/core/rca/rca_utils/api_utils.py
  chaos_genius/settings.py
  chaos_genius/views/anomaly_data_view.py
  chaos_genius/views/rca_view.py
  frontend/src/assets/images/Download.svg
  frontend/src/components/Anomaly/anomaly.scss
  frontend/src/components/Anomaly/index.jsx
  frontend/src/components/DashboardGraph/dashboardgraph.scss
  frontend/src/components/DashboardGraph/index.jsx
  frontend/src/redux/actions/ActionConstants.js
  frontend/src/redux/actions/Anomaly.js
  frontend/src/redux/actions/Dashboard.js
  frontend/src/redux/reducers/Anomaly.js
  frontend/src/redux/reducers/Dashboard.js
  frontend/src/utils/download-helper.js
Labels: ✨ enhancement, 🛠️ backend

#835 fix(scheduler): remove microsecond component from scheduled_time
  chaos_genius/jobs/analytics_scheduler.py
Labels: 🐛 bug, 🛠️ backend

#836 Change alerting logic for idempotency and alerts code refactor
  .flake8
  chaos_genius/alerts/__init__.py
  chaos_genius/alerts/alert_channel_creds.py
  chaos_genius/alerts/anomaly_alerts.py
  chaos_genius/alerts/base_alert_digests.py
  chaos_genius/alerts/constants.py
  chaos_genius/alerts/email.py
  chaos_genius/alerts/email_templates/digest_template.html
  chaos_genius/alerts/email_templates/email_alert.html
  chaos_genius/alerts/event_alerts.py
  chaos_genius/alerts/slack.py
  chaos_genius/alerts/static_kpi_alerts.py
  chaos_genius/alerts/utils.py
  chaos_genius/controllers/digest_controller.py
  chaos_genius/controllers/kpi_controller.py
  chaos_genius/databases/models/alert_model.py
  chaos_genius/jobs/anomaly_tasks.py
  chaos_genius/templates/digest.html
  chaos_genius/utils/utils.py
  chaos_genius/views/digest_view.py
  migrations/versions/0747323f8f25_add_last_anomaly_timestamp_in_alert_.py
  requirements/prod.txt
Labels: 🛠️ backend, don't merge, ❗alerts

#858 Feature/prefetch metadata
  .env
  chaos_genius/app.py
  chaos_genius/celery_config.py
  chaos_genius/commands.py
  chaos_genius/connectors/__init__.py
  chaos_genius/controllers/data_source_controller.py
  chaos_genius/controllers/data_source_metadata_controller.py
  chaos_genius/databases/models/data_source_metadata_model.py
  chaos_genius/jobs/__init__.py
  chaos_genius/jobs/metadata_prefetch.py
  chaos_genius/settings.py
  chaos_genius/utils/metadata_api_config.py
  chaos_genius/utils/utils.py
  chaos_genius/views/data_source_view.py
  frontend/src/assets/images/sync.svg
  frontend/src/assets/styles/table.scss
  frontend/src/components/DataSourceTable/index.jsx
  frontend/src/components/KpiExplorerForm/index.jsx
  frontend/src/components/KpiExplorerForm/kpiexplorerform.scss
  frontend/src/redux/actions/ActionConstants.js
  frontend/src/redux/actions/DataSources.js
  frontend/src/redux/actions/KpiEplorer.js
  frontend/src/redux/actions/index.js
  frontend/src/redux/reducers/DataSource.js
  frontend/src/utils/url-helper.js
  migrations/versions/1f58789e1dc0_add_the_data_source_metadata_table.py
Labels: 🛠️ backend, 🔗 connectors

#863 changed status display logic for third party by reverting to previous…
  frontend/src/components/DataSourceTable/index.jsx
Labels: 🖥️ frontend

#862 Post refactor alert fixes
  chaos_genius/alerts/anomaly_alerts.py
  chaos_genius/alerts/email_templates/digest_template.html
  chaos_genius/alerts/email_templates/email_alert.html
  chaos_genius/alerts/slack.py
  chaos_genius/controllers/digest_controller.py
Labels: 🐛 bug, 🛠️ backend, ❗alerts
