Repository chaos-genius/chaos_genius, pull requests merged in 2022-10, with the labels that each got.

#1145 fix(alerts): ensure percent change is not flipped for neg. exp. vals
  chaos_genius/alerts/utils.py
Labels: 🐛 bug, 🛠️ backend, ❗alerts

#1143 resolved vulnerabilites
  frontend/package-lock.json
Labels: 🖥️ frontend

#1154 Docs: Add troubleshooting guideline for local setup - PIP Version and Python Missing Headers
  CONTRIBUTING.md
Labels: 📚 documentation
