Repository chaos-genius/chaos_genius, pull requests merged in 2022-06, with the labels that each got.

#970 Decouple rca fe
  frontend/src/assets/Animations/PH_Animation.gif
  frontend/src/components/Anomaly/anomaly.scss
  frontend/src/components/Anomaly/index.jsx
  frontend/src/components/DashboardGraph/dashboardgraph.scss
  frontend/src/components/DashboardGraph/index.jsx
  frontend/src/components/DashboardGraphCard/dashboardgraphcard.scss
  frontend/src/components/DashboardGraphCard/index.js
  frontend/src/containers/Dashboard/index.jsx
  frontend/src/redux/actions/Dashboard.js
  frontend/src/redux/actions/LineChart.js
  frontend/src/utils/url-helper.js
Labels: 🖥️ frontend

#974 Alerts revamp
  chaos_genius/alerts/__init__.py
  chaos_genius/alerts/anomaly_alerts.py
  chaos_genius/alerts/base_alert_digests.py
  chaos_genius/alerts/constants.py
  chaos_genius/alerts/email_templates/common.html
  chaos_genius/alerts/email_templates/digest_template.html
  chaos_genius/alerts/email_templates/email_alert.html
  chaos_genius/alerts/email_templates/layout.html
  chaos_genius/alerts/slack.py
  chaos_genius/commands.py
  chaos_genius/controllers/digest_controller.py
  chaos_genius/databases/models/triggered_alerts_model.py
  chaos_genius/templates/alert_dashboard.html
  chaos_genius/views/digest_view.py
  frontend/src/containers/OrganisationSettings/ReportSetting.jsx
Labels: ✨ enhancement, don't merge, ❗alerts

#981 added count column for Druid DS
  frontend/src/components/KpiExplorerForm/index.jsx
Labels: 🖥️ frontend

#982 Alert fixes post revamp
  chaos_genius/alerts/anomaly_alerts.py
  chaos_genius/alerts/constants.py
  chaos_genius/alerts/email_templates/common.html
  chaos_genius/alerts/email_templates/digest_template.html
  chaos_genius/alerts/email_templates/email_alert.html
Labels: ❗alerts

#983 Feature/druid changes fe
  frontend/src/components/KpiExplorerForm/index.jsx
Labels: 🖥️ frontend

#984 Feature/druid changes fe
  frontend/src/components/KpiExplorerForm/index.jsx
Labels: 🖥️ frontend

#992 Fixes #991 by checking for validation sucess before running checks for tz-aware data
  chaos_genius/core/utils/kpi_validation.py
Labels: 🐛 bug

#994 changed error property variable name
  frontend/src/components/KpiExplorerForm/index.jsx
Labels: 🖥️ frontend

#996 fix(edit-kpi): kpi validation triggered on edit kpi
  chaos_genius/views/kpi_view.py
Labels: 🐛 bug, 🛠️ backend

#993 Fix breadcrumbs in KPI screen
  chaos_genius/controllers/dashboard_controller.py
  chaos_genius/views/kpi_view.py
Labels: 🐛 bug

#999 feat(anomaly): Sub-Dimension Anomaly Filter
  chaos_genius/views/anomaly_data_view.py
Labels: 🛠️ backend, ❗alerts

#976 add payload for dimeensions on test query execution
  frontend/src/components/KpiExplorerForm/index.jsx
Labels: 🖥️ frontend

#1003 added condition for comparing KPI search texts
  frontend/src/components/KPITable/index.jsx
  frontend/src/containers/KpiExplorer/index.jsx
Labels: 🖥️ frontend

#1004 Feature/alerts phase 2 subdims fe
  frontend/src/components/KpiAlertConfigurationForm/index.jsx
  frontend/src/components/KpiAlertConfigurationForm/kpialertconfigurationform.scss
  frontend/src/containers/AddKpiAlert/index.jsx
Labels: 🖥️ frontend

#1002 Subdim filter fe
  frontend/src/assets/images/subdim_filter.svg
  frontend/src/components/Anomaly/anomaly.scss
  frontend/src/components/Anomaly/index.jsx
  frontend/src/redux/actions/Anomaly.js
Labels: 🖥️ frontend

#1000 Add relevant subdims to overall anomalies and toggle for subdim level anomalies
  chaos_genius/alerts/anomaly_alerts.py
  chaos_genius/alerts/base_alert_digests.py
  chaos_genius/alerts/constants.py
  chaos_genius/alerts/email_templates/common.html
  chaos_genius/alerts/email_templates/digest_template.html
  chaos_genius/alerts/email_templates/email_alert.html
  chaos_genius/alerts/slack.py
  chaos_genius/controllers/digest_controller.py
  chaos_genius/databases/models/alert_model.py
  chaos_genius/static/images/logo.svg
  chaos_genius/templates/alert_dashboard.html
  chaos_genius/views/alert_view.py
  chaos_genius/views/anomaly_data_view.py
  chaos_genius/views/digest_view.py
  frontend/src/components/KpiAlertConfigurationForm/index.jsx
  frontend/src/components/KpiAlertConfigurationForm/kpialertconfigurationform.scss
  frontend/src/containers/AddKpiAlert/index.jsx
  migrations/versions/d6b3cfcc1298_add_include_subdims_to_alert.py
  migrations/versions/e3cb5f234bbf_.py
Labels: 🛠️ backend, don't merge, ❗alerts

#1012 fix(alerts-dashboard): prevent crash when event alerts exist
  chaos_genius/alerts/email_templates/common.html
  chaos_genius/controllers/digest_controller.py
Labels: ❗alerts
