Repository chaos-genius/chaos_genius, pull requests merged in 2022-05, with the labels that each got.

#944 vulnerabilities fixed on dependencies
  frontend/package-lock.json
  frontend/package.json
Labels: 🖥️ frontend

#935 Feature/pagination fe
  frontend/src/components/AlertFilter/index.jsx
  frontend/src/components/AlertTable/index.jsx
  frontend/src/components/DataSourceTable/index.jsx
  frontend/src/components/Filter/index.jsx
  frontend/src/components/KPITable/dashboardname.jsx
  frontend/src/components/KPITable/dimension.jsx
  frontend/src/components/KPITable/index.jsx
  frontend/src/components/Kpihome/index.jsx
  frontend/src/components/Pagination/index.jsx
  frontend/src/components/Pagination/pagination.scss
  frontend/src/containers/Alerts/index.jsx
  frontend/src/containers/DataSource/index.jsx
  frontend/src/containers/KpiExplorer/index.jsx
  frontend/src/redux/actions/ActionConstants.js
  frontend/src/redux/actions/Alert.js
  frontend/src/redux/actions/DashboardHome.js
  frontend/src/redux/actions/DataSources.js
  frontend/src/redux/actions/KpiEplorer.js
  frontend/src/redux/actions/Onboarding.js
  frontend/src/redux/actions/index.js
  frontend/src/redux/reducers/Alert.js
  frontend/src/redux/reducers/DashboardHome.js
  frontend/src/redux/reducers/DataSource.js
  frontend/src/redux/reducers/KpiExplorer.js
  frontend/src/redux/reducers/Onboarding.js
  frontend/src/utils/url-helper.js
Labels: 🖥️ frontend

#928 refactor(kpi-view): fix flake8, isort, formatting, type errors
  chaos_genius/views/kpi_view.py
Labels: 🛠️ backend

#932 refactor(alert-view): fix flake8, isort, formatting, type errors
  chaos_genius/views/alert_view.py
Labels: ✨ enhancement, 🛠️ backend

#934 refactor(dashboard-view): fix type, flake8, isort errors
  chaos_genius/views/dashboard_view.py
Labels: 🛠️ backend

#930 Pagination in API
  chaos_genius/controllers/alert_controller.py
  chaos_genius/controllers/dashboard_controller.py
  chaos_genius/controllers/data_source_controller.py
  chaos_genius/utils/pagination.py
  chaos_genius/utils/search.py
  chaos_genius/views/alert_view.py
  chaos_genius/views/dashboard_view.py
  chaos_genius/views/data_source_view.py
  chaos_genius/views/kpi_view.py
  frontend/src/components/AlertFilter/index.jsx
  frontend/src/components/AlertTable/index.jsx
  frontend/src/components/DataSourceTable/index.jsx
  frontend/src/components/Filter/index.jsx
  frontend/src/components/KPITable/dashboardname.jsx
  frontend/src/components/KPITable/dimension.jsx
  frontend/src/components/KPITable/index.jsx
  frontend/src/components/Kpihome/index.jsx
  frontend/src/components/Pagination/index.jsx
  frontend/src/components/Pagination/pagination.scss
  frontend/src/containers/Alerts/index.jsx
  frontend/src/containers/DataSource/index.jsx
  frontend/src/containers/KpiExplorer/index.jsx
  frontend/src/redux/actions/ActionConstants.js
  frontend/src/redux/actions/Alert.js
  frontend/src/redux/actions/DashboardHome.js
  frontend/src/redux/actions/DataSources.js
  frontend/src/redux/actions/KpiEplorer.js
  frontend/src/redux/actions/Onboarding.js
  frontend/src/redux/actions/index.js
  frontend/src/redux/reducers/Alert.js
  frontend/src/redux/reducers/DashboardHome.js
  frontend/src/redux/reducers/DataSource.js
  frontend/src/redux/reducers/KpiExplorer.js
  frontend/src/redux/reducers/Onboarding.js
  frontend/src/utils/url-helper.js
Labels: ✨ enhancement, 🛠️ backend

#946 added paginate params for KPI list and changed fornt size in paginati…
  frontend/src/components/DashboardForm/index.js
  frontend/src/components/KpiAlertConfigurationForm/index.jsx
  frontend/src/components/Pagination/index.jsx
  frontend/src/components/Pagination/pagination.scss
  frontend/src/containers/Dashboard/index.jsx
  frontend/src/containers/KpiSetting/index.jsx
Labels: 🖥️ frontend

#947 increased paddingleft for page info container
  frontend/src/components/Pagination/pagination.scss
Labels: 🖥️ frontend

#948 Fix KPI list in dashboard view, new alert and new dashboard pages
  chaos_genius/views/kpi_view.py
  frontend/src/components/DashboardForm/index.js
  frontend/src/components/KpiAlertConfigurationForm/index.jsx
  frontend/src/components/Pagination/index.jsx
  frontend/src/components/Pagination/pagination.scss
  frontend/src/containers/Dashboard/index.jsx
  frontend/src/containers/KpiSetting/index.jsx
Labels: 🐛 bug

#949 added fixes for filtering of url
  frontend/src/containers/DataSource/index.jsx
  frontend/src/containers/KpiExplorer/index.jsx
Labels: 🖥️ frontend

#953 added paginate param for data sources dropdown in event alert and add…
  frontend/src/components/EventAlertForm/index.jsx
  frontend/src/components/KpiExplorerForm/index.jsx
  frontend/src/redux/actions/KpiEplorer.js
Labels: 🖥️ frontend

#954 Fix dashboard list in add kpi
  chaos_genius/views/data_source_view.py
  frontend/src/components/EventAlertForm/index.jsx
  frontend/src/components/KpiExplorerForm/index.jsx
  frontend/src/redux/actions/KpiEplorer.js
Labels: 🐛 bug

#962 Configurable Datetime format and SQL strings in Data Loader
  chaos_genius/connectors/__init__.py
  chaos_genius/connectors/base_db.py
  chaos_genius/connectors/mysql.py
  chaos_genius/connectors/postgres.py
  chaos_genius/core/utils/data_loader.py
  tests/test_data_loader.py
Labels: 🛠️ backend, 🔗 connectors

#963 Updated data loader time and quotes formatting
  chaos_genius/connectors/base_db.py
  chaos_genius/core/utils/data_loader.py
Labels: 🔗 connectors

#971 added disclaimer for consolidated alerts reports
  frontend/src/containers/OrganisationSettings/ReportSetting.jsx
Labels: 🖥️ frontend
