Repository chaos-genius/chaos_genius, pull requests merged in 2022-09, with the labels that each got.

#1096 chore(deps): upgrade datasource deps and resolve conflicts
  .github/workflows/python-test.yml
  Dockerfile
  requirements/dev.txt
  requirements/prod.txt
Labels: 🛠️ backend, dependencies, pip dependencies

#1108 Upgrade analytics libraries
  requirements/prod.txt
Labels: 🛠️ backend, dependencies, pip dependencies

#1109 Upgrade backend dependencies
  chaos_genius/commands.py
  requirements/dev.txt
  requirements/prod.txt
Labels: 🛠️ backend

#1105 Bug event alert toast on test query
  frontend/src/components/EventAlertForm/index.jsx
Labels: 🖥️ frontend

#1116 fix(datasource): use case-insensitive check for LIMIT
  chaos_genius/connectors/base_db.py
Labels: 🐛 bug, 🛠️ backend, ❗alerts

#1118 fix(alert-report): ignore trig alerts of deleted/inactive alerts
  chaos_genius/alerts/base_alert_digests.py
Labels: 🛠️ backend, ❗alerts

#1131 chore(deps): remove unused altair prod dependency
  requirements/prod.txt
Labels: dependencies, pip dependencies

#1138 Alerts changes for expected value addition
  chaos_genius/alerts/anomaly_alerts.py
  chaos_genius/alerts/constants.py
  chaos_genius/alerts/email_templates/common.html
  chaos_genius/alerts/slack.py
  chaos_genius/alerts/utils.py
  chaos_genius/templates/alert_dashboard.html
  migrations/versions/b176fdcdff99_remove_change_message_and_percent_from_.py
Labels: 🛠️ backend, ❗alerts, :warning: has db migration, :paperclip: needs docs update

#1128 fix(retrain): clear recent alerts data and set appropriate last_anomaly_timestamp
  chaos_genius/controllers/alert_controller.py
  chaos_genius/views/anomaly_data_view.py
Labels: 🛠️ backend, ❗alerts

#1132 Add Expected Value to Anomaly and Alerts
  chaos_genius/alerts/anomaly_alerts.py
  chaos_genius/alerts/constants.py
  chaos_genius/alerts/email_templates/common.html
  chaos_genius/alerts/slack.py
  chaos_genius/alerts/utils.py
  chaos_genius/core/anomaly/models/ets_model.py
  chaos_genius/core/anomaly/models/ewma_model.py
  chaos_genius/core/anomaly/models/ewstd_model.py
  chaos_genius/core/anomaly/models/greykite_model.py
  chaos_genius/core/anomaly/models/neuralprophet_model.py
  chaos_genius/core/anomaly/models/prophet_model.py
  chaos_genius/core/anomaly/models/standard_deviation_model.py
  chaos_genius/core/anomaly/processor.py
  chaos_genius/core/utils/round.py
  chaos_genius/databases/models/anomaly_data_model.py
  chaos_genius/templates/alert_dashboard.html
  chaos_genius/views/anomaly_data_view.py
  frontend/src/components/Anomaly/index.jsx
  frontend/src/components/Anomalygraph/index.jsx
  migrations/versions/4dc7b0472e64_add_yhat_anomaly.py
  migrations/versions/b176fdcdff99_remove_change_message_and_percent_from_.py
  tests/test_anomaly_controller.py
  tests/test_anomaly_processor.py
Labels: ✨ enhancement, 🛠️ backend, ❗alerts

#1140 fix(alerts): consider subdims inside relevant only if enabled
  chaos_genius/alerts/anomaly_alerts.py
Labels: 🛠️ backend, ❗alerts

#1144 fix(migrations): ignore missing percent_change
  migrations/versions/b176fdcdff99_remove_change_message_and_percent_from_.py
Labels: 🛠️ backend, ❗alerts, :warning: has db migration
