Repository chaos-genius/chaos_genius, pull requests merged in 2022-07, with the labels that each got.

#1024 fix(alerts): wrong formats when subdims were not present
  chaos_genius/alerts/email_templates/common.html
  chaos_genius/alerts/email_templates/email_alert.html
  chaos_genius/alerts/slack.py
Labels: 🐛 bug, ❗alerts

#1023 added css class to seperate alert configuration CSS
  frontend/src/components/KpiAlertConfigurationForm/index.jsx
  frontend/src/components/KpiAlertConfigurationForm/kpialertconfigurationform.scss
Labels: 🖥️ frontend

#1020 fix(alerts-dashboard): consider only alert triggers with anomaly setup
  chaos_genius/controllers/digest_controller.py
Labels: 🐛 bug, ❗alerts

#1029 fix(anomaly): smaller time window, drop dups for hourly KPI drilldown
  chaos_genius/views/anomaly_data_view.py
Labels: 🐛 bug, 🛠️ backend

#1032 refactor anomaly data view for style, lints, type errors
  chaos_genius/views/anomaly_data_view.py
Labels: 🛠️ backend

#1036 added changes for anomaly subdimensional downloads
  frontend/src/components/Anomaly/index.jsx
  frontend/src/redux/actions/Anomaly.js
Labels: 🖥️ frontend

#1037 added className instead of class
  frontend/src/components/Anomaly/index.jsx
Labels: 🖥️ frontend

#1034 Schedule Deepdrills/summary at same time as anomaly for daily running KPIs
  chaos_genius/databases/models/kpi_model.py
  chaos_genius/views/anomaly_data_view.py
  migrations/versions/ddb1a0e2d5d7_convert_anomaly_params_json_jsonb.py
  migrations/versions/e418aa6cb2e7_schedule_dd_summary_at_the_same_time_as_.py
Labels: 🛠️ backend, :warning: has db migration

#1035 feat(alerts): add CSV to email alert report, better CSV names
  chaos_genius/alerts/anomaly_alerts.py
  chaos_genius/alerts/base_alert_digests.py
  chaos_genius/alerts/constants.py
  chaos_genius/alerts/email.py
  chaos_genius/controllers/digest_controller.py
  chaos_genius/utils/utils.py
Labels: 🛠️ backend, ❗alerts

#1038 Make anomaly CSV download work for subdims too
  chaos_genius/views/anomaly_data_view.py
  chaos_genius/views/download_view.py
  frontend/src/components/Anomaly/index.jsx
  frontend/src/redux/actions/Anomaly.js
Labels: 🖥️ frontend, 🛠️ backend, don't merge

#1033 Impact Score Metric
  chaos_genius/alerts/anomaly_alerts.py
  chaos_genius/core/anomaly/controller.py
  chaos_genius/core/anomaly/models/__init__.py
  chaos_genius/core/anomaly/processor.py
  chaos_genius/databases/models/anomaly_data_model.py
  chaos_genius/views/anomaly_data_view.py
  migrations/versions/c76670622e1e_add_impact_score.py
  migrations/versions/d8a19036bd15_.py
  tests/test_anomaly_controller.py
  tests/test_anomaly_processor.py
Labels: ✨ enhancement, 🛠️ backend, ❗alerts, :warning: has db migration

#1039 perf: optimize graph JSON creation
  chaos_genius/core/utils/round.py
  chaos_genius/views/anomaly_data_view.py
Labels: 🛠️ backend

#1041 added description and numerical range to slider values
  frontend/src/components/KpiAlertConfigurationForm/index.jsx
  frontend/src/components/KpiAlertConfigurationForm/kpialertconfigurationform.scss
Labels: 🖥️ frontend

#1043 fix(anomaly-params): use .get instead of indexing, check rca_time exists
  chaos_genius/views/anomaly_data_view.py
Labels: 🐛 bug, 🛠️ backend

#1042 fix(anomaly-data-view): do not overwrite value with abs when rounding
  chaos_genius/core/utils/round.py
Labels: 🐛 bug, 🛠️ backend

#1045 feat: add path safe KPI and subdim names for CSV download
  chaos_genius/core/rca/rca_utils/api_utils.py
  chaos_genius/views/anomaly_data_view.py
Labels: 🛠️ backend

#1044 download csv name changes
  frontend/src/components/Anomaly/index.jsx
  frontend/src/components/DashboardGraph/index.jsx
Labels: 🖥️ frontend

#1047 Download csv name change
  frontend/src/components/Anomaly/anomaly.scss
  frontend/src/components/Anomaly/index.jsx
Labels: 🖥️ frontend

#1052 fixed security vulnerabilites
  frontend/package-lock.json
  frontend/package.json
Labels: 🖥️ frontend

#1051 fix(drilldowns): use severity when impact is 0
  chaos_genius/views/anomaly_data_view.py
Labels: 🐛 bug, 🛠️ backend

#1048 fix(anomaly): when metric and count column are same for pre-aggregated data
  chaos_genius/core/anomaly/controller.py
  chaos_genius/core/anomaly/utils.py
Labels: 🐛 bug, 🛠️ backend, 🔗 connectors

#1055 fix(drilldowns): reset count col before data loading
  chaos_genius/core/rca/rca_controller.py
Labels: 🐛 bug, 🛠️ backend

#1056 removed check of hasdruiddropdown
  frontend/src/components/KpiExplorerForm/index.jsx
Labels: 🖥️ frontend

#1057 Fix anomaly subdim filter and data download for subdims with empty value
  chaos_genius/views/anomaly_data_view.py
  chaos_genius/views/download_view.py
  frontend/src/components/Anomaly/index.jsx
  frontend/src/redux/actions/Anomaly.js
Labels: 🐛 bug, 🖥️ frontend, 🛠️ backend

#1061 fix(anomaly): fix migration
  migrations/versions/c76670622e1e_add_impact_score.py
Labels: 🐛 bug, 🛠️ backend

#1062 fix(migration): consider case when KPI was manually deleted
  migrations/versions/c76670622e1e_add_impact_score.py
Labels: 🐛 bug, 🛠️ backend

#1064 fix(alert-report): generate CSV for overall anomalies too
  chaos_genius/controllers/digest_controller.py
Labels: 🐛 bug, 🛠️ backend, ❗alerts
